.block {
    background-color: #e3f8fb;
    border-radius: 12px;
    padding: 24px;
    padding-top: 0px;
    margin: 0px auto;
    max-width: 900px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #3c8cad;
    text-align: center;
}

.subBlock {
    margin-bottom: 24px;
}

.label {
    font-weight: 600;
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
}

.row {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

.input {
    flex: 2 1 0;
    min-width: 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffff;
    box-sizing: border-box;
}

.countInput {
    flex: 1 1 0;
    min-width: 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #ffff;
    text-align: center;
    box-sizing: border-box;
}


.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}